---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Card from "@components/Card.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { Image, getImage } from "astro:assets";
import Socials from "@components/Socials.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

//Images
import heroImage from "@assets/nature-943768_1920.jpg";
import Button from "@components/Button.astro";
import Motivation from "@components/Motivation.astro";
import AnimatedH2 from "@components/AnimatedH2.astro";
import portrait from "@assets/HilsHeika.jpg";
---

<Layout identity={true}>
  <Header activeNav="index" />
  <main id="main-content">
    <section id="hero" class="max-w-none">
      <div class="heroContent text-center md:text-start">
        <h1>
          <span id="km" class="flex items-baseline justify-center md:justify-start"
            ><div class="relative">
              <span id="counterNBR">
                <span class="invisible">1200</span><div
                  class="counter absolute top-0 right-0"
                  data-target="1200"
                >
                </div>
              </span>
            </div>km</span
          >
          <span>Von Kaierde bis ans Mittelmeer</span>
        </h1>
        <Button url="/spenden" txt="Spenden" icon="donation" className="mx-auto md:mx-0"/>
      </div>
      <Image
        src={heroImage}
        alt="Eine zum Wandern einladendes Alpenpanorama."
        id="heroIMG"
      />
    </section>

    <Motivation />
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <AnimatedH2 txt="Vorgestellt" />
            <ul class="postUl">
              {featuredPosts.slice(0, SITE.feturedPosts).map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }

    <section id="spenden">
      <div class="scroll-animation just-fade text-balance text-center sm:text-left" id="spendenDiv">
        <div class="flex flex-col md:flex-row gap-8 items-center">
          <div class="max-w-[30rem] md:max-w-[56rem] text-center md:text-left">
            <AnimatedH2 txt="Wofür werden die Spenden verwendet?" className="!mb-10"/>
            <p id="spendenP">
              Ich möchte mit meiner Freundin zu Fuß von Kaierde ans Mittelmeer
              laufen. Wir werden zwischen 70 und 80 Tage unterwegs sein. Ich würde
              gerne eine "Challenge" zu Gunsten unseres Freibades daraus machen: Ich
              sammele für meine Kilometer Spenden, die dann das Freibad bekommt.
              <Button url="/spenden#wofur" icon="open" ariaLabel="Weitere Informationen wofür die Spenden verwendet werden" txt="mehr" right={true} className="mx-auto md:mx-0"/>
            </p>
          </div>
          <Image
          class={"rounded-xl w-96 max-w-full object-cover my-4"}
          src={portrait}
          id="portraitImage"
          alt="Portrait Image"
        />
        </div>
      </div>
    </section>

    <section id="recent-posts">
      <AnimatedH2 txt="Letzte Einträge" />
      <ul class="postUl">
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 5 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                ),
            )
        }
      </ul>
      <Button url="/posts" txt="Alle Blogeinträge" icon="next" right={true} className="mx-auto my-8"/>
    </section>
  </main>

  <Footer />
  <script>
    declare global {
      interface Window {
        netlifyIdentity: any;
      }
    }

    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user: any) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <script is:inline>
    function setCounter() {
      const counters = document.querySelectorAll(".counter");
      counters.forEach((counter) => {
        counter.innerText = "0";
        const updateCounter = () => {
          const target = +counter.getAttribute("data-target");
          const count = +counter.innerText;
          const increment = target / 800;
          const speed = (target * 1.6) / (target - count);
          if (count < target) {
            counter.innerText = `${Math.ceil(count + increment)}`;
            setTimeout(updateCounter, speed);
          } else counter.innerText = target;
        };
        updateCounter();
      });
    }
    document.addEventListener("astro:page-load", setCounter);
    document.addEventListener("astro:after-swap", setCounter);
  </script>
</Layout>

<style>
  /* ===== Spenden Section ===== */
  #spenden {
    width: 100%;
    border-radius: clamp(0.5rem, 0.75rem, 1rem);
    max-width: calc(var(--site_width) * 1.2);
    margin-inline: auto;
    min-height: 65vh;
    min-height: 65svh;
    background-color: rgba(var(--color-accent-light), 0.5);
    display: flex;
    align-items: center;
    @apply mb-8 mt-20;
  }
  #spendenDiv {
    max-width: calc(var(--site_width) - 2rem);
    margin-inline: auto;
  }
  #spendenP {
    padding-bottom: 1rem;
    @apply tracking-wide leading-10;
  }

  /* ===== Hero Section ===== */
  #hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: var(--site_width);
    gap: 2rem;
    min-height: 90vh;
    min-height: 90svh;
    padding-inline: 1rem;
    @apply pb-6 pt-8 px-4 mx-auto;
  }
  @media (max-width: 55rem) {
    #hero {
      grid-template-columns: 1fr;
    }
    .heroContent {
      max-width: calc(var(--site_width) * 0.5) !important;
    }
    #heroIMG {
      max-width: calc(var(--site_width) * 0.5);
      @apply m-auto;
    }
  }
  #heroIMG {
    margin-block: auto;
    border-radius: 0.75rem;
    @apply object-cover aspect-square shadow-xl;
  }
  .heroContent {
    gap: 1.5rem;
    justify-content: flex-start;
    max-width: var(--site_width);
    min-height: 35vh;
    min-height: 35svh;
    @apply mx-auto grid content-center w-full;
  }
  .heroSocial {
    grid-area: "social";
    justify-self: flex-end;
    align-items: center;
    background-color: rgba(var(--color-fill));
    border-radius: 2rem 0 0 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    @apply grid h-[85px] py-1 nm:gap-4 nm:pl-8 pl-2 nm:flex nm:h-auto nm:py-2;
  }
  #hero h1 {
    font-weight: 500;
    font-size: clamp(2rem, 1.8469rem + 0.8163vw, 2.5rem);
    line-height: 1;
    max-width: 40rem;
    @apply my-4 inline-block sm:my-8;
  }
  #counterNBR {
    font-size: clamp(5rem, 4.3878rem + 3.2653vw, 7rem);
  }
  #km {
    font-size: clamp(2rem, 1.3878rem + 3.2653vw, 4rem);
    color: rgb(var(--color-accent));
    font-weight: 400;
    @apply flex mb-2;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  article {
    display: inline-block;
    transition: all 0.5s ease-in;
    @apply text-4xl font-semibold tracking-wide underline;
  }
  article:hover {
    text-decoration-color: rgb(var(--color-accent));
    text-decoration-thickness: 10px;
  }
</style>
