---
import { Icon } from "astro-icon/components";
const { url, txt, icon, className, ariaLabel, right = false } = Astro.props;
---

<a
  href={url}
  role="button"
  class={`rounded-lg px-5 py-3.5 mb-2 ${className}`}
  aria-label={ariaLabel}
>
  {right != true && icon != null && <Icon name={icon} />}
  <span>{txt}</span>
  {right == true && icon != null && <Icon name={icon} />}
</a>
<style>
  a {
    text-align: center;
    text-decoration: none;
    display: flex !important;
    align-items: center;
    gap: 8px;
    background-color: rgb(var(--color-breadcrumbs));
    min-width: 80px;
    width: max-content;
    padding-inline: 1.5rem;
    font-size: clamp(1rem, 0.9082rem + 0.4898vw, 1.3rem);
    line-height: 1.2rem;
    justify-content: space-evenly;
  }
  a:hover {
    filter: brightness(0.95);
  }
  [data-icon] {
    position: relative;
    z-index: 10;
    color: rgb(var(--_btn-bg));
    font-size: 1.2rem;
  }
</style>
