---
const { inputName, inputID, inputType, inputHeight="auto", inputAccept } = Astro.props;
---
<div>
    <label for={inputID}>{inputName}</label>
    <input name={inputName} id={inputID} type={inputType} height={inputHeight} accept={inputAccept}></input>
</div>
<style>
    div {
        width: 100%;
        margin-inline: auto;
        margin-block: .5rem;
        display: grid;
        gap: .2rem;
        grid-template-rows: auto auto;
    }
    input {
        border: 1px solid rgb(var(--color-text-base));
        border-radius: 5px;
        color: black;
    }
</style>