---
import Breadcrumbs from "@components/Breadcrumbs.astro";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  titleTransition: string;
  pageDesc?: string;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---

<Breadcrumbs />
<main id="main-content">
  {
    "titleTransition" in props ? (
      <h1 class="center-layout gap-4 fade-in-up">
        {props.pageTitle[0]}
        <span transition:name={props.titleTransition}>
          {props.pageTitle[1]}
        </span>
      </h1>
    ) : (
      <h1 class="center-layout fade-in-up">{props.pageTitle}</h1>
    )
  }
  <p class="center-layout fade-in-up animation-delay--20">{props.pageDesc}</p>
  <slot />
</main>
<style>
  #main-content {
    max-width: var(--site_width);
    @apply mx-auto mt-3 w-full px-4 pb-12 flex flex-col items-center;
  }
  #main-content h1 {
    display: flex;
    font-size: clamp(2rem, 1.2347rem + 4.0816vw, 4.5rem);
    line-height: clamp(2rem, 1.2347rem + 4.0816vw, 4.5rem);
    font-weight: 500
  }
  #main-content p {
    @apply my-10 mt-8 italic;
  }
  span {
    @apply italic
  }
</style>
